grant codebase "file:./LoginModule.jar" {
    permission javax.security.auth.AuthPermission "modifyPrincipals";
};

grant codebase "file:./PrintServer.jar" {
   permission javax.security.auth.AuthPermission "createLoginContext.PrintServer";
   permission javax.security.auth.AuthPermission "doAsPrivileged";
};

grant codebase "file:./Action.jar", Principal printserver.principal.PrintServerUserPrincipal "alice" {
   permission printserver.PrintServerPermission "print";
   permission printserver.PrintServerPermission "queue";
   permission printserver.PrintServerPermission "topqueue";
   permission printserver.PrintServerPermission "status";
   permission printserver.PrintServerPermission "start";
   permission printserver.PrintServerPermission "stop";
   permission printserver.PrintServerPermission "reset";
   permission printserver.PrintServerPermission "readconfig";
   permission printserver.PrintServerPermission "setconfig";
};

grant codebase "file:./Action.jar", Principal printserver.principal.PrintServerUserPrincipal "bart" {
   permission printserver.PrintServerPermission "start";
   permission printserver.PrintServerPermission "stop";
   permission printserver.PrintServerPermission "reset";
   permission printserver.PrintServerPermission "readconfig";
   permission printserver.PrintServerPermission "setconfig";
};

grant codebase "file:./Action.jar", Principal printserver.principal.PrintServerUserPrincipal "cecile" {
   permission printserver.PrintServerPermission "topqueue";
   permission printserver.PrintServerPermission "reset";
};

grant codebase "file:./Action.jar", Principal printserver.principal.PrintServerUserPrincipal "dirk" {
   permission printserver.PrintServerPermission "print";
   permission printserver.PrintServerPermission "queue";
   permission printserver.PrintServerPermission "status";
};

grant codebase "file:./Action.jar", Principal printserver.principal.PrintServerUserPrincipal "erica" {
   permission printserver.PrintServerPermission "print";
   permission printserver.PrintServerPermission "queue";
   permission printserver.PrintServerPermission "status";
};